// color
$theme-color: rgb(0, 115, 160);
$theme-color-tint: rgba(0, 115, 160, 0.6);
$border-color: rgba( 0, 0, 0, 0.08);
$bg-color: rgba( 0, 0, 0, 0.06);


// 尺寸
$topBar-height: 40px;
$userList-width: 200px;